Import dependancies

In [88]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
import os

Creation folder path

In [96]:
folder_path = 'E:\FYP\LSTM-Human-Activity-Recognition-master/Falling_data/Data/Non_Fall'

Take every csv files in folder

In [ ]:
csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

List every csv file in dataframe

In [98]:
dfs = []
for file in csv_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_csv(file_path)
    dfs.append(df)

In [99]:
result_df = pd.concat(dfs, ignore_index=True)

In [100]:
print(result_df.head())

     1    238    237     68    129    116    281    177    152    194  ...  \
0  2.0  238.0  236.0  127.0  132.0  117.0  235.0  179.0  152.0  145.0  ...
1  3.0  237.0  236.0  135.0  133.0  117.0  227.0  179.0  152.0  137.0  ...
2  4.0  236.0  235.0  140.0  133.0  118.0  219.0  178.0  152.0  129.0  ...
3  5.0  235.0  236.0  130.0  133.0  118.0  230.0  184.0  152.0  138.0  ...
4  6.0  233.0  236.0  133.0  134.0  117.0  230.0  181.0  152.0  140.0  ...

   92.3269664880838  147.001243760572  -40.5031284081783.1  \
0               NaN               NaN                  NaN
1               NaN               NaN                  NaN
2               NaN               NaN                  NaN
3               NaN               NaN                  NaN
4               NaN               NaN                  NaN

   -149.613701026754.1  -28.823167378371.1  29.0086230931332.1  \
0                  NaN                 NaN                 NaN
1                  NaN                 NaN                 NaN
2                  NaN                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN                 NaN                 NaN

   167.916311610025.1  7.36495431098452.1  0.673434  3/24/2023 5:14:38 PM
0                 NaN                 NaN       NaN                   NaN
1                 NaN                 NaN       NaN                   NaN
2                 NaN                 NaN       NaN                   NaN
3                 NaN                 NaN       NaN                   NaN
4                 NaN                 NaN       NaN                   NaN

[5 rows x 3335 columns]

In [101]:
len(dfs)

40

In [102]:
dfs[0].head()

,1,238,237,68,129,116,281,177,152,194,...,97.0334213067504,-170.67489312648,13.2222639764351.1,-89.8290878779455.1,-62.4737197850101.1,-59.0221567258631.1,173.432106438572.1,-0.0527494097466002.1,0.181904,3/24/2023 8:51:08 AM
0,2,238,236,127,132,117,235,179,152,145,...,94.922596,-171.402976,2.359112,-95.403246,-63.506680,-59.203337,173.260086,0.144806,0.178678,3/24/2023 8:51:08 AM
1,3,237,236,135,133,117,227,179,152,137,...,94.179596,-172.653817,-0.542989,-96.931920,-63.116334,-59.372565,173.671936,-0.293701,0.176965,3/24/2023 8:51:08 AM
2,4,236,235,140,133,118,219,178,152,129,...,93.148835,-173.649518,-3.733833,-98.669028,-61.956506,-59.317380,173.449227,-0.116267,0.174902,3/24/2023 8:51:08 AM
3,5,235,236,130,133,118,230,184,152,138,...,92.958377,-174.062779,-0.347037,-96.870756,-61.597997,-59.086529,173.411331,-0.083149,0.172916,3/24/2023 8:51:08 AM
4,6,233,236,133,134,117,230,181,152,140,...,93.561347,-173.930421,0.051269,-96.647358,-63.122823,-59.312257,173.348115,-0.019189,0.171463,3/24/2023 8:51:08 AM

Feature extraction every csv file

In [103]:
Extracted_features=[]
for df in (dfs):
    df_colum=('count','angle1','angle2','angle3','angle4','angle5','angle6','angle7','angle8','angle9','angle10','angle11','angle12','angle13','angle14','angle15','angle16','x1','y1','z1','x2','y2','z2','x3','y3','z3','x4','y4','z4','x5','y5','z5','x6','y6','z6','x7','y7','z7','x8','y8','z8','x9','y9','z9','x10','y10','z10','x11','y11','z11','x12','y12','z12','x13','y13','z13','x14','y14','z14','x15','y15','z15','x16','y16','z16','x17','y17','z17','x18','y18','z18','x19','y19','z19','hipLeftRotationX','hipLeftRotationY','hipLeftRotationZ','kneeLeftRotationX','kneeLeftRotationY','kneeLeftRotationZ','AnkleLeftRotationX','AnkleLeftRotationY','AnkleLeftRotationZ','HipRightRotationX','HipRightRotationY','HipRightRotationZ','KneeRightRotationX','KneeRightRotationY','KneeRightRotationZ','AnkleRightRotationX','AnkleRightRotationY','AnkleRightRotationZ','Plane_to_Head_distance','time')
    df.columns=df_colum
    df.drop_duplicates(inplace=True)
    df.dropna(inplace=True)
    #drop unnecessary features
    df.drop(['x2', 'x3','x6','x7','x8','x9','x14','x15','x16','x17','x18','x19','y2', 'y3','y6','y7','y8','y9','y14','y15','y16','y17','y18','y19','z2', 'z3','z6','z7','z8','z9','z14','z15','z16','z17','z18','z19'], axis=1, inplace=True)
    df.drop(['angle2','angle5','angle7','angle8','angle9','angle10','angle11','angle12','angle13','angle14','angle15','angle16'],axis=1,inplace=True)
    df.drop(['hipLeftRotationX','hipLeftRotationY','hipLeftRotationZ','kneeLeftRotationX','kneeLeftRotationY','kneeLeftRotationZ','AnkleLeftRotationX','AnkleLeftRotationY','AnkleLeftRotationZ','HipRightRotationX','HipRightRotationY','HipRightRotationZ','KneeRightRotationX','KneeRightRotationY','KneeRightRotationZ','AnkleRightRotationX','AnkleRightRotationY','AnkleRightRotationZ','Plane_to_Head_distance'],axis=1,inplace=True)
    df.drop(['count'],axis=1,inplace=True)
    df.drop(['time'],axis=1,inplace=True)
    rows=df.shape[0]
    #colums=df.shape[1]
    
    #Take posion 4,5,10,11,12,13 related to 1 position x,y,z coodinates respectively
    new_colum1=[]
    new_colum2=[]
    new_colum3=[]

    for col in range (7,23,3):

        for row in range(0,rows):
            x_ref=df.iloc[row][4]
            y_ref=df.iloc[row][5]
            z_ref=df.iloc[row][6]

            new_colum1.append(df.iloc[row][col]-x_ref)
            new_colum2.append(df.iloc[row][col+1]-y_ref)
            new_colum3.append(df.iloc[row][col+2]-z_ref)
        df['X'+str(col)]=new_colum1[-rows:]
        df['Y'+str(col)]=new_colum2[-rows:]
        df['Z'+str(col)]=new_colum3[-rows:]
    #take velocity      
    for row in range (0,rows-1):
        df.iloc[row] = (df.iloc[row+1] - df.iloc[row])*30
    
    #Data normalization
    numerical_features = df.select_dtypes(include=['float64', 'int64']).columns
    scaler = MinMaxScaler()
    df[numerical_features] = scaler.fit_transform(df[numerical_features])
    df.drop(['x1', 'x4','x5','x10','x11','x12','x13','y1', 'y4','y5','y10','y11','y12','y13','z1', 'z4','z5','z10','z11','z12','z13'], axis=1, inplace=True)
    
    rows1=df.shape[0]
    #colums1=df.shape[1]
    
    #take (x^2 + y^2 + z^2)^0.5 every joint velocities
    new_colum=[]

    for col in range (4,20,3):

        for row in range(0,rows1):

            new_colum.append((((df.iloc[row][col])**2)+((df.iloc[row][col+1])**2)+(df.iloc[row][col+2])**2)**0.5)
        df['|Velocity'+str(col)+'|']=new_colum[-rows1:]
    
    
    df.drop(['X7', 'X10','X13','X16','X19','X22','Y7', 'Y10','Y13','Y16','Y19','Y22','Z7', 'Z10','Z13','Z16','Z19','Z22'], axis=1, inplace=True)
    
    Extracted_features.append(df)

Create extracted csv folder path

In [104]:
Extracted_folder_path='E:\FYP\LSTM-Human-Activity-Recognition-master/Falling_data/Extracted_data/Non_Fall/'

Append every extracted csv files in extracted folder

In [105]:
for i in range (len(Extracted_features)):
    Extracted_features[i].to_csv(Extracted_folder_path+str(i)+'.csv', index=False)

In [87]:
for i in dfs:
    print(i.shape)

(148, 10)
(374, 10)
(381, 10)
(284, 10)
(172, 10)
(185, 10)
(161, 10)
(160, 10)
(151, 10)
(170, 10)
(128, 10)
(171, 10)
(154, 10)
(88, 10)
(98, 10)
(183, 10)
(80, 10)
(130, 10)
(174, 10)
(100, 10)
(139, 10)
(922, 10)
(165, 10)
(919, 10)
(1046, 10)
(963, 10)
(920, 10)
(921, 10)
(912, 10)
(916, 10)
(989, 10)
(914, 10)
(218, 10)
(134, 93)
(203, 93)
(195, 93)
(200, 93)
(314, 94)
(1754, 94)
(1855, 94)

In [74]:
Extracted_features=[]

In [85]:
len(Extracted_features)

33

In [95]:
Extracted_features=[]